.progress {
    width: 350px;
    display: flex;
    border-radius: 17px 0px 0px 17px;
    flex-direction: column;
    padding: 30px;

    color: #71c2ba;
    background-color: #15526b;
}

.img img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 60px 20px #62a6c161;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.07);
}

.stepsIndicator {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;

    padding: 0;
    margin-top: 20px;
}

.progress .stepName {
    display: none;
    padding: 0;
}

.progress .stepName.active {
    display: flex;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bolder;
}

.stepsIndicator li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;

    color: #7f9693;
}

.stepsIndicator li.active {
    color: #71c2ba;
    font-weight: bolder;
}


.stepsIndicator li:not(:last-child) .number::after {
    content: "";
    position: absolute;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);

    width: 2px;
    height: 25px;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: rgba(255, 255, 255, 0.5);
}

.number {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: #335d6ead;
    color: #7f9693;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    position: relative;
}

.number.active {
    background-color: #024059;
    color: #71c2ba;
}

.number:hover {
    transform: scale(1.07);
    background-color: #97b6b1;
    color: #024059;
}

.number{
    transition: 0.5s;
}