.progressRegister {
    flex: 1;
}


.progressRegister .step {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;

    display: none;
    position: absolute;
}

.progressRegister .step.active {
    display: flex;

    margin-left: 10px;
}

.progressRegister .step-1 {
    margin-top: 50px;
}


.step.active .subtitulo {
    color: var(--purple-soft);
    font-size: 13px;
}

.progressRegister fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.progressRegister .formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 20px;
}

.formGroup legend {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.questions ::placeholder {
   color: var(--pink-soft);
}

.questions input {
    height: 47px;
    width: 170px;
    padding: 0 14px;

    border-radius: 6px;
    border: 1px solid var(--purple-dark);

    background-color: var(--purple-soft);
    font-size: 14px;
    color: var(--pink-soft);
}

.questions input:hover {
    background-color: var(--pink-soft);
    color: var(--purple-soft);
}

.questions ::placeholder:hover {
    background-color: var(--pink-soft);
    color: var(--purple-soft);
}

.questions select {
    height: 47px;
    width: 170px;
    padding: 0 14px;

    border-radius: 6px;
    border: 1px solid var(--purple-dark);

    background-color: var(--purple-soft);
    font-size: 14px;
    color: var(--pink-soft);
    margin-top: 15px;

    transition: 0.5s;
}

.questions select:hover {
    background-color: var(--pink-soft);
    color: var(--purple-soft);
}
.actions .next {
    background-color: var(--text-dark);
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    width: 120px;

    color: var(--text-muted);
    font-size: 15px;
    font-weight: bold;
}

.actions button {
    border: none;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.actions button:hover {
    background-color: var(--text-muted);
    color: var(--text-dark);
    transform: scale(1.07);
}

input {
    transition: 0.5s;
}




