.progressRegister fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.progressRegister .step-2 {
    margin-top: 30px;
    margin-left: 10px;
}

.groupRadio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 360px;
}

.groupRadio label {
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 170px;
    padding: 0 14px;

    border-radius: 6px;
    border: 1px solid var(--purple-dark);

    background-color: var(--purple-soft);
    font-size: 14px;
    color: var(--pink-soft);
}

.groupRadio label:hover {
    background-color: var(--text-muted);
    color: var(--text-dark);
    transform: scale(1.07);
}

.groupRadio input[type="radio"]:checked+label {
    background-color: var(--text-dark);
    color: white;
    border-color: var(--text-dark);
}

.step-2 input[type="radio"] {
    display: none;
}

.groupRadio .conditional {
    /* display: none; */
}

.questions,
.conditional {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.actions .back {
    background-color: var(--text-dark);
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    width: 120px;

    color: var(--text-muted);
    font-size: 15px;
    font-weight: bold;
    
}

.actions button {
    border: none;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.actions .back:hover {
    background-color: var(--text-muted);
    color: var(--text-dark);
    transform: scale(1.07);
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 370px
}

.progressRegister .step-2 {
    gap: 4px;
}