.progressRegister {
    flex: 1;
}


.progressRegister .step {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;

    display: none;
    position: absolute;
}

.progressRegister .step.active {
    display: flex;
}