:root {
  --pink-bg-main: #F6C1BB;
  --pink-soft: #f4e7e7;
  --pink-accent: #F3A9A1;

  --purple-main: #463a45;
  --purple-dark: #746271;
  --purple-soft: #928899;

  --text-dark: #576080;
  --text-dark-blue: #83879a;
  --text-muted: #9ca0b2;
  --white-soft: #FFF7F6;

  --blue-dark: #353955;
}