*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #024059;
    font-family: 'Inter', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #71c2ba;
    color: #024059;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.168);
    border-radius: 20px;

    max-width: 800px;
    min-height: 500px;
    width: 100%;

    display: flex;
}

.registerPage {
    display: flex;
    gap: 2rem;
}